<?xml version='1.0'?>
<robot name="rome_base" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <!-- Robot -->
  <xacro:include filename="$(find rome_base_description)/model/chassis.xacro"/>
  
  <!-- Control -->
  <xacro:include filename="$(find rome_arduino_hardware)/model/ros2_control.xacro"/>

  <!-- Arm -->
  


</robot>