<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rome_base_description)/model/connector.xacro"/>
  
  <!-- Chassis -->
  <link name="chassis">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find rome_base_description)/meshes/chassis.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="16.004"/>
      <inertia ixx="0.3610" ixy="0.0" ixz="0.0" iyy="0.3610" iyz="0.0" izz="0.6749"/>
    </inertial>

  </link>

  <gazebo reference="chassis">
    <visual>
      <material>
        <ambient>0.9 0.9 0 1</ambient>
        <diffuse>0.9 0.9 0 1</diffuse>
        <specular>0.9 0.9 0 1</specular>
      </material>
    </visual>
  </gazebo>

  <!--Wheel Rims -->
  <xacro:connector name="1" parent="chassis" xyz="0.228 0.228 0.01" rpy="1.57 0 2.3562"/>  <!--Front Left-->
  <xacro:connector name="2" parent="chassis" xyz="0.228 -0.228 0.01" rpy="1.57 0 0.7838"/> <!--Front Right-->
  <xacro:connector name="3" parent="chassis" xyz="-0.228 -0.228 0.01" rpy="1.57 0 -0.7838"/>  <!--Back Right-->
  <xacro:connector name="4" parent="chassis" xyz="-0.228 0.228 0.01" rpy="1.57 0 -2.3562"/> <!--Back Left -->


</robot>