<?xml version='1.0'?>
<robot name="4_wheel_omni" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <!-- Robot -->
  <xacro:include filename="$(find quadwheel)/model/chassis.xacro"/>
  
  <!-- Control -->
  <xacro:include filename="$(find quadwheel)/model/ros2_control.xacro"/>

  <!-- Cameras -->
  <!--<xacro:include filename="$(find quadwheel)/model/cameras.xacro"/>-->

  <!-- Arm -->
  


</robot>