<?xml version='1.0'?>
<robot name="roam_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Base -->
  <xacro:include filename="$(find roam_base_description)/model/chassis.xacro"/>

  <!-- World Link -->
  <link name="base_link" />
  <joint name="base_to_chassis" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Base Footprint -->
  <!--<joint name="base_to_footprint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint> -->

  <!-- Cameras -->
  <!--<xacro:include filename="$(find quadwheel)/model/cameras.xacro"/>-->

  <!-- Arm -->
  <xacro:include filename="$(find roam_arm_description)/model/arm_urdf.xacro"/>
  <joint name="arm_mount_joint" type="fixed">
    <parent link="chassis"/>
    <child link="arm_base_link"/>
    <origin xyz="0 0 0." rpy="0 0 0" />
  </joint>
</robot>